---
import React from "react";
import BaseLayout from "./BaseLayout.astro";
import "../components/lit/header";
import Navigation from "../components/navigation.astro";
---

<BaseLayout>
  <div>
    <o-header></o-header>

    <div class="page-wrapper">
      <Navigation />

      <main class="page-content">
        <slot />
      </main>
    </div>
  </div>
</BaseLayout>